In [1]:
import numpy as np
import pandas as pd

In [ ]:
#file_name = 'results_deepfaune-yolov8s_960_vit_large_patch14_dinov2.lvd142m.csv'
file_name = 'results_speciesnet_pl.csv'
file_path = 'results/' + file_name

In [16]:
correct = pd.read_csv('results/correct.csv', index_col=0)
data = pd.read_csv(file_path)[['image', 'detected_animal']]
merged = pd.merge(correct, data, on='image', how='inner')
merged['correct'] = merged['present_animal'] == merged['detected_animal']
merged

                       image    present_animal   detected_animal  correct
0    2020-01-07 00-47-51.JPG  jeleń szlachetny  jeleń szlachetny     True
1    2022-09-05 13-57-18.JPG               lis               lis     True
2    2022-09-06 19-34-11.JPG               lis              Brak    False
3    2022-09-10 22-41-29.JPG            borsuk            borsuk     True
4    2022-09-13 01-29-08.JPG              kuna              Brak    False
..                       ...               ...               ...      ...
116             IMG_0607.JPG              żubr              żubr     True
117             IMG_0726.JPG              wilk              wilk     True
118             IMG_0800.JPG              żbik               kot    False
119             IMG_0814.JPG              bóbr               lis    False
120             IMG_0894.JPG  jeleń szlachetny  jeleń szlachetny     True

[121 rows x 4 columns]

In [17]:
np.sum(merged['correct']) / len(merged)

np.float64(0.5289256198347108)

In [18]:
merged.to_csv('results/final/'+file_name)

#### Comparison

In [32]:
deepfaune = pd.read_csv('results/final/results_deepfaune.csv')[['image', 'detected_animal']]
deepfaune.rename(columns={'detected_animal': 'detected_animal_deepfaune'}, inplace=True)
speciesnet = pd.read_csv('results/final/results_speciesnet.csv')[['image', 'detected_animal']]
speciesnet.rename(columns={'detected_animal': 'detected_animal_speciesnet'}, inplace=True)
speciesnet_pl = pd.read_csv('results/final/results_speciesnet_pl.csv')[['image', 'detected_animal']]
speciesnet_pl.rename(columns={'detected_animal': 'detected_animal_speciesnet_pl'}, inplace=True)

In [33]:
merged = pd.merge(correct, deepfaune, on='image', how='inner')
merged = pd.merge(merged, speciesnet, on='image', how='inner')
merged = pd.merge(merged, speciesnet_pl, on='image', how='inner')
merged

,image,present_animal,detected_animal_deepfaune,detected_animal_speciesnet,detected_animal_speciesnet_pl
0,2020-01-07 00-47-51.JPG,jeleń szlachetny,jeleń szlachetny,common fallow deer,common fallow deer
1,2022-09-05 13-57-18.JPG,lis,lis,red fox,red fox
2,2022-09-06 19-34-11.JPG,lis,Brak,blank,blank
3,2022-09-10 22-41-29.JPG,borsuk,borsuk,eurasian badger,eurasian badger
4,2022-09-13 01-29-08.JPG,kuna,Brak,martes species,martes species
...,...,...,...,...,...
116,IMG_0607.JPG,żubr,żubr,american bison,bovidae family
117,IMG_0726.JPG,wilk,wilk,coyote,canis species
118,IMG_0800.JPG,żbik,kot,domestic cat,felis species
119,IMG_0814.JPG,bóbr,lis,virginia opossum,mammal
120,IMG_0894.JPG,jeleń szlachetny,jeleń szlachetny,red deer,red deer

In [34]:
merged.to_csv('results/final/merged.csv')