In [ ]:
import pandas as pd

#### Unification

In [51]:
expected_results = pd.read_csv('y_clean.csv', index_col=0)
deepfaune_results = pd.read_csv('deepfaune/results/results_deepfaune2025_11_05_13_58.csv', index_col=0)
speciesnet_results = pd.read_csv('speciesnet/results/results_speciesnet_2025_11_06_7_52.csv', index_col=0)

In [52]:
# remove humans O.O
expected_results = expected_results[expected_results.species != 'human']

In [53]:
speciesnet_results = speciesnet_results.rename(columns={'detected_animal': 'species_speciesnet'})
speciesnet_results.head()

,image,species_speciesnet,confidence
0,../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...,empty,0.000000
1,../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...,empty,0.000000
2,../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...,jay,0.976221
3,../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...,jay,0.498219
4,../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...,jay,0.756437

In [54]:
deepfaune_results = deepfaune_results.rename(columns={'detected_animal': 'species_deepfaune'})
deepfaune_results.head()

                                               image species_deepfaune
0  ../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...             empty
1  ../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...             empty
2  ../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...              bird
3  ../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...              bird
4  ../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...              bird

In [55]:
expected_results['image'] = '../../pictures/' + \
    expected_results.RelativePath.str.replace('\\', '/') + \
    '/' + expected_results.File
expected_results = expected_results[['image', 'species']]
expected_results.head()

                                               image species
0  ../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...    bird
1  ../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...    bird
2  ../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...    bird
3  ../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...    bird
4  ../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...    bird

In [56]:
merged = pd.merge(expected_results, deepfaune_results, on='image', how='left')
merged.head()

                                               image species species_deepfaune
0  ../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...    bird             empty
1  ../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...    bird             empty
2  ../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...    bird              bird
3  ../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...    bird              bird
4  ../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...    bird              bird

In [59]:
merged = pd.merge(merged, speciesnet_results, on='image', how='left').drop(columns=['confidence'])
merged

,image,species,species_deepfaune,species_speciesnet_x,species_speciesnet_y,species_speciesnet
0,../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...,bird,empty,empty,empty,empty
1,../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...,bird,empty,empty,empty,empty
2,../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...,bird,bird,jay,jay,jay
3,../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...,bird,bird,jay,jay,jay
4,../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...,bird,bird,jay,jay,jay
...,...,...,...,...,...,...
30690,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-02-...,fox,fox,red fox,red fox,red fox
30691,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-02-...,roedeer,roe deer,european roe deer,european roe deer,european roe deer
30692,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-03-...,fox,fox,red fox,red fox,red fox
30693,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-03-...,marten,mustelid,martes species,martes species,martes species
30694,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-03-...,fox,fox,red fox,red fox,red fox

Unifying naming

In [60]:
"""
hare - lagomorph:
Zając szarak
Zając bielak
Królik

Wiewiórka pospolita

Bóbr europejski
Piżmak
Nutria

Szakal złocisty
Wilk

rodent:
Kuna domowa
Tchórz zwyczajny
Gronostaj - stoat
Łasica łaska - waesel
Wydra
Norka amerykańska
Kuna leśna - marten

Lis

Ryś
Żbik

Jenot
Szop pracz

Borsuk

Niedźwiedź brunatny

Dzik

Żubr

Daniel

Jeleń wschodni

Jeleń szlachetny - red deer

Łoś

Kozica

Sarna

Muflon

Ptak - bird
"""

'\nhare - lagomorph:\nZając szarak\nZając bielak\nKrólik\n\nWiewiórka pospolita\n\nBóbr europejski\nPiżmak\nNutria\n\nSzakal złocisty\nWilk\n\nrodent:\nKuna domowa\nTchórz zwyczajny\nGronostaj - stoat\nŁasica łaska - waesel\nWydra\nNorka amerykańska\nKuna leśna - marten\n\nLis\n\nRyś\nŻbik\n\nJenot\nSzop pracz\n\nBorsuk\n\nNiedźwiedź brunatny\n\nDzik\n\nŻubr\n\nDaniel\n\nJeleń wschodni\n\nJeleń szlachetny - red deer\n\nŁoś\n\nKozica\n\nSarna\n\nMuflon\n\nPtak - bird\n'

In [61]:
merged.species = merged.species.replace('Empty', 'empty')
merged.species = merged.species.replace('Undefined', 'other')
merged.species = merged.species.replace('reddeer', 'red deer')
merged.species = merged.species.replace('roedeer', 'roe deer')
merged.species = merged.species.replace(['marten', 'weasel', 'stoat', 'mink', 'polecat'], 'mustelid')
merged.species = merged.species.replace('wildboar', 'wild boar')

merged.species.unique()

array(['bird', 'red deer', 'empty', 'hare', 'lynx', 'wolf', 'dog',
       'roe deer', 'wild boar', 'squirrel', 'rodent', 'mustelid',
       'beaver', 'fox', 'otter', 'other', 'badger', 'wildcat', 'bear',
       'raccoon dog', 'bison', 'cat', 'vehicle', 'moose', 'fallow deer'],
      dtype=object)

In [62]:
merged.species_deepfaune = merged.species_deepfaune.replace('lagomorph', 'hare')
merged.species_deepfaune = merged.species_deepfaune.replace('golden jackal', 'wolf')
merged.species_deepfaune = merged.species_deepfaune.replace(
    ['nutria', 'marmot', 'raccoon'],  # dlaczego bobry jako raccoon widzi??
    'beaver'
)
merged.species_deepfaune = merged.species_deepfaune.replace('cow', 'bison')
merged.species_deepfaune = merged.species_deepfaune.replace(
    ['chamois', 'equid', 'goat', 'ibex', 'micromammal', 'mouflon'],
    'other'
)
merged.species_deepfaune = merged.species_deepfaune.replace('reindeer', 'red deer')

merged.species_deepfaune.unique()

array(['empty', 'bird', 'red deer', 'wild boar', 'dog', 'roe deer',
       'squirrel', 'wolf', 'mustelid', 'raccoon dog', 'bear', 'beaver',
       'fox', 'other', 'badger', 'bison', 'otter', 'cat', 'hare',
       'fallow deer', 'lynx', 'moose'], dtype=object)

In [63]:
# when it comes to birds, we can use these, but for now, to compare it:
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['jay', 'blue jay', 'owl', 'common woodpigeon', 'common blackbird',
     'great blue heron', 'american robin', 'golden eagle', 'eurasian buzzard',
     'great black hawk', 'black-billed magpie', 'mourning dove',
     'caprimulgidae family', 'mallard', 'horned lark', 'blood pheasant',
     'american crow', 'hermit thrush', 'pel\'s fishing-owl', 'pileated woodpecker',
     'white stork', 'southern caracara', 'black woodpecker', 'sandhill crane',
     'palawan peacock-pheasant', 'canada goose', 'bald eagle', 'gruiformes order',
     'red-tailed hawk', 'great egret', 'common crane', 'wood duck',
     'ring-necked pheasant', 'european robin', 'wild turkey'],
    'bird'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['snowshoe hare', 'european hare', 'eastern cottontail'],
    'hare'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['eastern fox squirrel', 'eurasian red squirrel', 'eastern gray squirrel',
     'red squirrel', 'sciurus species'],
    'squirrel', 
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['garden dormouse', 'peromyscus species'],
    'rodent',  # gryzoń
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['martes species', 'pine marten', 'fisher', 'virginia opossum',
     'american mink', 'arizona black-tailed prairie dog', 'ferret badger species',
     'american marten', 'beech marten', 'common palm civet', 'siberian weasel',
     'weasel family'],
    'mustelid',  # łasicowate
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['american beaver', 'muskrat', 'north american porcupine', 'nutria',
     'capybara', 'woodchuck'],
    'beaver'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['north american river otter', 'common water rat'],
    'otter'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['american black bear', 'brown bear'],
    'bear'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['grey fox', 'hoary fox', 'puma', 'red fox'],
    'fox'
)
merged.species_speciesnet = merged.species_speciesnet.replace('domestic cat', 'cat')
merged.species_speciesnet = merged.species_speciesnet.replace('domestic dog', 'dog')
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['wild cat', 'leopard cat'],
    'wildcat'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['grey wolf', 'coyote', 'golden jackal'],
    'wolf'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['eurasian badger', 'palawan stink-badger', 'greater hog badger'],
    'badger'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['common duiker', 'elk', 'sambar', 'sika deer', 'sitatunga', 'white-tailed deer'],
    'red deer'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['bobcat', 'eurasian lynx'],
    'lynx'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['bushbuck', 'european roe deer', 'large-antlered muntjac', 'mule deer',
     'pampas deer', 'puku'],
    'roe deer'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['northern raccoon'],
    'raccoon dog'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['american bison', 'european bison', 'african buffalo'],
    'bison'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['northern raccoon'],
    'moose'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['common fallow deer'],
    'fallow deer'
)

merged.species_speciesnet = merged.species_speciesnet.replace(
    ['striped skunk', 'phillipine porcupine', 'indian crested porcupine',  # skąd te jeżozwierze
     'bat', 'domestic horse', 'domestic cattle', 'blue monkey', 'cervidae family',
     'cetartiodactyla order', 'domestic goat', 'domestic sheep', 'golden snub-nosed monkey',
     'hartebeest', 'hoary marmot', 'llama', 'mammal', 'masked palm civet', 'mouflon',
     'mountain tapir', 'nine-banded armadillo', 'northern chamois', 'palawan treeshrew',
     'philippine pangolin', 'possum family', 'pronghorn', 'reeves\' muntjac', 'sable antelope',
     'serval', 'south american coati', 'spotted hyaena', 'western gray kangaroo',
     'white-footed mouse', 'white-tailed mongoose'],
    'other'
)
merged.species_speciesnet = merged.species_speciesnet.replace('blank', 'empty')

merged.species_speciesnet.unique()

array(['empty', 'bird', 'red deer', 'wild boar', 'fallow deer', 'wolf',
       'dog', 'roe deer', 'squirrel', 'mustelid', 'cat', 'raccoon dog',
       'other', 'fox', 'bear', 'badger', 'beaver', 'otter', 'human',
       'hare', 'moose', 'wildcat', 'lynx', 'rodent', 'bison'],
      dtype=object)

In [64]:
merged[merged.species_speciesnet == "white-tailed deer"].species.value_counts()  # xd

Series([], Name: count, dtype: int64)

#### Statistics

In [65]:
merged['deepfaune_correct'] = merged.species == merged.species_deepfaune
merged['speciesnet_correct'] = merged.species == merged.species_speciesnet
merged

,image,species,species_deepfaune,species_speciesnet_x,species_speciesnet_y,species_speciesnet,deepfaune_correct,speciesnet_correct
0,../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...,bird,empty,empty,empty,empty,False,False
1,../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...,bird,empty,empty,empty,empty,False,False
2,../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...,bird,bird,jay,jay,bird,True,True
3,../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...,bird,bird,jay,jay,bird,True,True
4,../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...,bird,bird,jay,jay,bird,True,True
...,...,...,...,...,...,...,...,...
30690,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-02-...,fox,fox,red fox,red fox,fox,True,True
30691,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-02-...,roe deer,roe deer,european roe deer,european roe deer,roe deer,True,True
30692,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-03-...,fox,fox,red fox,red fox,fox,True,True
30693,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-03-...,mustelid,mustelid,martes species,martes species,mustelid,True,True
30694,../../pictures/30_SUCHEDNIÓW/R/Zima/3/2023-03-...,fox,fox,red fox,red fox,fox,True,True

In [66]:
N = len(merged)
n_speciesnet_correct = np.sum(merged.speciesnet_correct)
n_deepfaune_correct = np.sum(merged.deepfaune_correct)

In [67]:
print(f'Speciesnet accuracy: {100 * n_speciesnet_correct / N: .2f}%')
print(f'Deepfaune accuracy: {100 * n_deepfaune_correct / N: .2f}%')

Speciesnet accuracy:  75.06%
Deepfaune accuracy:  80.04%

In [68]:
merged[~merged.speciesnet_correct].species.value_counts()

species
red deer       1722
roe deer       1566
beaver          877
bird            624
other           540
bison           538
fox             390
mustelid        308
wild boar       289
squirrel        120
wolf            119
vehicle          94
rodent           92
moose            69
wildcat          58
badger           58
bear             52
raccoon dog      41
otter            27
hare             21
fallow deer      16
lynx             11
empty            11
dog               7
cat               4
Name: count, dtype: int64

In [69]:
merged[~merged.deepfaune_correct].species.value_counts()

species
red deer       1557
roe deer        974
beaver          726
bird            619
other           541
fox             366
wild boar       276
mustelid        249
bison           117
squirrel        113
wolf            106
vehicle          94
rodent           92
wildcat          70
moose            53
badger           47
otter            23
hare             22
empty            21
bear             17
raccoon dog      14
fallow deer      10
lynx              9
dog               7
cat               3
Name: count, dtype: int64