Comapring results

In [1]:
import pandas as pd

In [8]:
expected_results = pd.read_csv('y_clean.csv', index_col=0)
deepfaune_results = pd.read_csv('deepfaune/results/results_deepfaune2025_11_05_13_58.csv', index_col=0)
speciesnet_results = pd.read_csv('speciesnet/results/results_speciesnet_2025_11_06_7_52.csv', index_col=0)

In [16]:
speciesnet_results = speciesnet_results.rename(columns={'detected_animal': 'species_speciesnet'})
speciesnet_results.head()

,image,species_speciesnet,confidence
0,../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...,empty,0.000000
1,../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...,empty,0.000000
2,../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...,jay,0.976221
3,../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...,jay,0.498219
4,../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...,jay,0.756437

In [17]:
deepfaune_results = deepfaune_results.rename(columns={'detected_animal': 'species_deepfaune'})
deepfaune_results.head()

                                               image species_deepfaune
0  ../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...             empty
1  ../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...             empty
2  ../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...              bird
3  ../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...              bird
4  ../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...              bird

In [21]:
expected_results['image'] = '../../pictures/' + \
    expected_results.RelativePath.str.replace('\\', '/') + \
    '/' + expected_results.File
expected_results = expected_results[['image', 'species']]
expected_results.head()

                                               image species
0  ../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...    bird
1  ../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...    bird
2  ../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...    bird
3  ../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...    bird
4  ../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...    bird

In [44]:
merged = pd.merge(expected_results, deepfaune_results, on='image', how='left')
merged.head()

                                               image species species_deepfaune
0  ../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...    bird             empty
1  ../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...    bird             empty
2  ../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...    bird              bird
3  ../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...    bird              bird
4  ../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...    bird              bird

In [45]:
merged = pd.merge(merged, speciesnet_results, on='image', how='left').drop(columns=['confidence'])
merged.head()

,image,species,species_deepfaune,species_speciesnet
0,../../pictures/01_CZARNE/B/Lato/1/2023-07-16 0...,bird,empty,empty
1,../../pictures/01_CZARNE/B/Lato/1/2023-07-21 0...,bird,empty,empty
2,../../pictures/01_CZARNE/B/Lato/1/2023-07-25 1...,bird,bird,jay
3,../../pictures/01_CZARNE/B/Lato/1/2023-07-28 1...,bird,bird,jay
4,../../pictures/01_CZARNE/B/Lato/1/2023-07-29 0...,bird,bird,jay

Unifying naming

In [46]:
"""
hare - lagomorph:
Zając szarak
Zając bielak
Królik

Wiewiórka pospolita

Bóbr europejski
Piżmak
Nutria

Szakal złocisty
Wilk

rodent:
Kuna domowa
Tchórz zwyczajny
Gronostaj - stoat
Łasica łaska - waesel
Wydra
Norka amerykańska
Kuna leśna - marten

Lis

Ryś
Żbik

Jenot
Szop pracz

Borsuk

Niedźwiedź brunatny

Dzik

Żubr

Daniel

Jeleń wschodni

Jeleń szlachetny - red deer

Łoś

Kozica

Sarna

Muflon

Ptak - bird
"""

'\nhare - lagomorph:\nZając szarak\nZając bielak\nKrólik\n\nWiewiórka pospolita\n\nBóbr europejski\nPiżmak\nNutria\n\nSzakal złocisty\nWilk\n\nrodent:\nKuna domowa\nTchórz zwyczajny\nGronostaj - stoat\nŁasica łaska - waesel\nWydra\nNorka amerykańska\nKuna leśna - marten\n\nLis\n\nRyś\nŻbik\n\nJenot\nSzop pracz\n\nBorsuk\n\nNiedźwiedź brunatny\n\nDzik\n\nŻubr\n\nDaniel\n\nJeleń wschodni\n\nJeleń szlachetny - red deer\n\nŁoś\n\nKozica\n\nSarna\n\nMuflon\n\nPtak - bird\n'

In [47]:
merged.species = merged.species.replace('reddeer', 'red deer')
merged.species = merged.species.replace('Empty', 'empty')
merged.species = merged.species.replace(['marten', 'weasel', 'stoat', 'mink'], 'mustelid')

merged.species.unique()

array(['bird', 'red deer', 'empty', 'hare', 'human', 'lynx', 'wolf',
       'dog', 'roedeer', 'wildboar', 'squirrel', 'rodent', 'mustelid',
       'beaver', 'fox', 'otter', 'Undefined', 'badger', 'wildcat',
       'polecat', 'bear', 'raccoon dog', 'bison', 'cat', 'vehicle',
       'moose', 'other', 'fallow deer'], dtype=object)

In [48]:
merged.species_deepfaune = merged.species_deepfaune.replace('lagomorph', 'hare')

merged.species_deepfaune.unique()

array(['empty', 'bird', 'red deer', 'wild boar', 'dog', 'roe deer',
       'squirrel', 'wolf', 'mustelid', 'raccoon dog', 'bear', 'beaver',
       'fox', 'golden jackal', 'raccoon', 'goat', 'badger', 'nutria',
       'cow', 'otter', 'cat', 'hare', 'reindeer', 'bison', 'fallow deer',
       'lynx', 'moose', 'equid', 'marmot', 'chamois', 'micromammal',
       'mouflon', 'ibex'], dtype=object)

In [49]:
# when it comes to birds, we can use these, but for now, to compare it:
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['jay', 'blue jay', 'owl', 'common woodpigeon', 'common blackbird',
     'great blue heron', 'american robin', 'golden eagle', 'eurasian buzzard',
     'great black hawk', 'black-billed magpie', 'mourning dove',
     'caprimulgidae family', 'mallard', 'horned lark', 'blood pheasant',
     'american crow', 'hermit thrush', 'pel\'s fishing-owl', 'pileated woodpecker',
     'white stork', 'southern caracara', 'black woodpecker', 'sandhill crane',
     'palawan peacock-pheasant', 'canada goose', 'bald eagle', 'gruiformes order',
     'red-tailed hawk', 'great egret', 'common crane', 'wood duck',
     'ring-necked pheasant', 'european robin', 'wild turkey'],
    'bird'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    [],
    'hare'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['eastern fox squirrel', 'eurasian red squirrel'],
    'squirrel', 
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    [],
    'rodent',  # gryzoń
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['martes species', 'pine marten', 'fisher', 'virginia opossum', 'american mink'],
    'mustelid',  # łasicowate
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['american beaver', 'muskrat'],
    'beaver'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['north american river otter'],
    'otter'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['capybara'],
    'nutria'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['american black bear'],
    'bear'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['striped skunk', 'phillipine porcupine', 'indian crested porcupine',  # skąd te jeżozwierze
     ],
    'other'
)
merged.species_speciesnet = merged.species_speciesnet.replace(
    ['blank'],
    'empty'
)

merged.species_speciesnet.unique()

array(['empty', 'bird', 'white-tailed deer', 'red deer', 'wild boar',
       'common fallow deer', 'coyote', 'domestic dog',
       'european roe deer', 'squirrel', 'mustelid', 'elk', 'domestic cat',
       'northern raccoon', 'other', 'red fox', 'mule deer',
       'domestic cattle', 'domestic goat', 'brown bear',
       'eurasian badger', 'beaver', 'sika deer', 'otter', 'nutria',
       'raccoon dog', 'human', 'bear', 'north american porcupine',
       "reeves' muntjac", 'white-footed mouse', 'eastern gray squirrel',
       'european hare', 'grey wolf', 'red squirrel',
       'palawan stink-badger', 'moose', 'bushbuck', 'grey fox',
       'wild cat', 'eurasian lynx', 'american marten',
       'eastern cottontail', 'sitatunga', 'puku', 'sambar', 'pronghorn',
       'domestic sheep', 'northern chamois', 'serval', 'bobcat', 'puma',
       'garden dormouse', 'possum family', 'african buffalo',
       'common water rat', 'spotted hyaena', 'mountain tapir',
       'beech marten', 'leopard cat', 'american bison', 'rodent',
       'nine-banded armadillo', 'philippine pangolin', 'woodchuck', 'bat',
       'peromyscus species', 'masked palm civet', 'hartebeest',
       'pampas deer', 'domestic horse', 'mouflon', 'sciurus species',
       'mammal', 'common duiker', 'snowshoe hare',
       'large-antlered muntjac', 'golden jackal', 'white-tailed mongoose',
       'cervidae family', 'hoary fox', 'greater hog badger',
       'common palm civet', 'south american coati', 'sable antelope',
       'european bison', 'cetartiodactyla order', 'blue monkey', 'llama',
       'western gray kangaroo', 'hoary marmot', 'weasel family',
       'palawan treeshrew', 'siberian weasel', 'golden snub-nosed monkey',
       'arizona black-tailed prairie dog', 'ferret badger species'],
      dtype=object)