##### Chernobyl
https://catalogue.ceh.ac.uk/documents/a657ffc3-8f62-458f-bcb7-30e116807174

In [5]:
import requests
import cv2
import pandas as pd
import numpy as np

# from ..utils.detector import Detector
%run ../utils/detector.py

In [6]:
df = pd.read_csv('CHAR_Nov_2020_Mar_2021_Camera_Trap_Image_Catalogue.csv')
df.Species_Common_Name.unique()
observations = df[df.Species_Common_Name == 'Eurasian lynx']
detector = Detector()

Using deepfaune-yolov8s_960 with weights at ../deepfaune/models/deepfaune-yolov8s_960.pt, in resolution 960x960

In [22]:
observations

,Site,Camera_Location_Identifier,Setup_Number,Image_Location_Folder_Name,Image_Filename,Date,Time,Day_Period,Species_Common_Name,Number_Animals_In_Image,Total_Number_Animals_Per_Triggering_Event,Triggering_Event_Number_Sequential,Notes
1717,1,1578,2,Setup2_Site1_1578,IMAG0025.JPG,20/11/20,12:22:26,day,Eurasian lynx,1,1,7.0,NaN
1718,1,1578,2,Setup2_Site1_1578,IMAG0026.JPG,20/11/20,12:22:26,day,Eurasian lynx,1,NaN,7.0,NaN
1719,1,1578,2,Setup2_Site1_1578,IMAG0027.JPG,20/11/20,12:22:28,day,Eurasian lynx,1,NaN,7.0,NaN
1720,1,1578,2,Setup2_Site1_1578,IMAG0028.JPG,20/11/20,12:57:36,day,Eurasian lynx,1,2,8.0,"1 ad f, 1 imm"
1721,1,1578,2,Setup2_Site1_1578,IMAG0029.JPG,20/11/20,12:57:38,day,Eurasian lynx,NaN,NaN,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11259,3,1568,2,Setup2_Site3_1568,IMAG0311.JPG,02/01/21,18:22:36,night,Eurasian lynx,1,NaN,44.0,NaN
11260,3,1568,2,Setup2_Site3_1568,IMAG0312.JPG,02/01/21,18:22:36,night,Eurasian lynx,1,NaN,44.0,NaN
11261,3,1568,2,Setup2_Site3_1568,IMAG0313.JPG,02/01/21,18:22:42,night,Eurasian lynx,NaN,NaN,44.0,NaN
11262,3,1568,2,Setup2_Site3_1568,IMAG0314.JPG,02/01/21,18:22:44,night,Eurasian lynx,NaN,NaN,44.0,NaN
11263,3,1568,2,Setup2_Site3_1568,IMAG0315.JPG,02/01/21,18:22:46,night,Eurasian lynx,NaN,NaN,44.0,NaN

In [21]:

MODEL_SPECIES_NAME = 'lynx'
DATA_SPECIES_NAME = 'Eurasianlynx'
i: int = 1

for _, row in observations.iterrows():
    subdir1 = row.Image_Location_Folder_Name[:11] + '_' + row.Image_Location_Folder_Name[11] + '/'
    subdir2 = row.Image_Location_Folder_Name + '/'
    subdir3 = DATA_SPECIES_NAME + '/'
    file = row.Image_Filename
    url = 'https://catalogue.ceh.ac.uk/datastore/eidchub/a657ffc3-8f62-458f-bcb7-30e116807174/' + subdir1 + subdir2 + subdir3 + file

    # download and crop
    response = requests.get(url)
    print(response)
    response.raise_for_status()  # ensure we got a valid response

    # Convert bytes → NumPy array → OpenCV image
    image_arr = np.frombuffer(response.content, np.uint8)
    image = cv2.imdecode(image_arr, cv2.IMREAD_COLOR)
    cropped_img, category, box, count, humanboxes = detector.bestBoxDetection(image)

    # save to lynx/pictures
    if cropped_img:
        cropped_img.save(f"{MODEL_SPECIES_NAME}/pictures_cropped/{i}.jpg", format="JPEG")
        i += 1

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>